@charset "UTF-8";


//Default styles

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


.home-pages-box {
	margin-top: $gutter-width;
	margin-bottom: $gutter-width*3;
}



// classic clearfix
.clearfix {
	clear: both;
	&:before,
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		float: none;
		clear: both;
	}
}


// Z-levels
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.z-depth-2{
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.z-depth-3{
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2);
}
.z-depth-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// Dividers

.divider {
	height: 1px;
	overflow: hidden;
	background-color: color("border", "table-border");
	margin: $gutter-width*2 0;
}


// Images
img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}
img.inline-img {
	max-height: 1.5em;
	vertical-align: middle;
	display: inline-block;
	margin-left: $gutter-width/2;
	&:first-of-type {
		margin-left: $gutter-width;
	}
}

// Parallax
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    transform: translateX(-50%);
  }
}

// Pushpin
.pin-top, .pin-bottom {
  position: relative;
}
.pinned {
  position: fixed !important;
}

/*********************
  Transition Classes
**********************/

ul.staggered-list li {
  opacity: 0;
}

.fade-in {
  opacity: 0;
  transform-origin: 0 50%;
}


/*********************
  Media Query Classes
**********************/
.hide-on-small-only, .hide-on-small-and-down {
  @media #{$small-and-down} {
    display: none !important;
  }
}
.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  }
}
.hide-on-med-and-up {
  @media #{$medium-and-up} {
    display: none !important;
  }
}
.hide-on-med-only {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: none !important;
  }
}
.hide-on-large-only {
  @media #{$large-and-up} {
    display: none !important;
  }
}
.show-on-large {
  @media #{$large-and-up} {
    display: initial !important;
  }
}
.show-on-medium {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: initial !important;
  }
}
.show-on-small {
  @media #{$small-and-down} {
    display: initial !important;
  }
}
.show-on-medium-and-up {
  @media #{$medium-and-up} {
    display: initial !important;
  }
}
.show-on-medium-and-down {
  @media #{$medium-and-down} {
    display: initial !important;
  }
}


// Center text on mobile
.center-on-small-only {
  @media #{$small-and-down} {
    text-align: center;
  }
}


// Tables
table, th, td {
   border: none;
}

table {
	width:100%;
	display: table;

	thead {
		border-bottom: 1px solid color('border', 'table-border');
	}
	td, th{
		padding: $gutter-width*0.75 $gutter-width;
		display: table-cell;
		vertical-align: middle;
		border-radius: 2px;
	}
	
	&.bordered > thead > tr,
	&.bordered > tbody > tr {
		border-bottom: 1px solid color('border', 'table-border');
	}

	&.striped > tbody {
		> tr:nth-child(odd) {
		  background-color: $table-striped-color;
		}

		> tr > td {
		  border-radius: 0px;
		}
	}

	&.hoverable > tbody > tr {
		&:hover {
			background-color: $table-striped-color;
		}
	}

	&.centered {
		thead tr th, tbody tr td {
			text-align: center;
		}
	}

	&.nostyle {
		border: 0;
		margin: 0;
		td {
			padding: 0;
		}
	}
}

// Responsive Table
@media #{$medium-and-down} {

  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;

    th,
    td {
      margin: 0;
    }

    thead {
      display: block;

      tr {
        display: block;

        th::before {
          content: "\00a0";
        }
      }
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;

      tr {
        display: inline-block;
        vertical-align: top;
      }
    }
    th {
      display: block;
      text-align: right;
    }
    td {
      display: block;
      min-height: 1.25em;
      text-align: left;
    }

    /* sort out borders */
    thead {
      border: 0;
    }

    &.bordered {
      th { border-bottom: 0; border-left: 0; }
      td { border-left: 0; border-right: 0; border-bottom: 0; }
      tr { border: 0; }
      tbody tr { border-right: 1px solid color('border', 'table-border'); }
    }

  }

}

// pseudo-tables
.table-row {
	display: table-row;
	width: 100%;
	border-top: 1px solid color('border', 'table-border');
	@extend .clearfix;
	&:first-child {
		border-top: 0;
	}
	&.table-header {
		border-bottom: 1px solid color('border', 'table-border');
	}
}
.table-col {
	display: table-cell;
}
.table {
	width: 100%;
	//display: table;
	margin: $gutter-width 0 $gutter-width*1.5;
	@extend .clearfix;
	.table-col {
		padding: $gutter-width*0.8 0;
	}
}
.table-header {
	text-align: center;
	color: color('text', 'light');
}
.flex-table {
	.table-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.col {
		padding: 1em $gutter-width;
	}
	.quantity,
	.sum,
	.delete {
		text-align: center;
	}
}
.contacts-table {
	.col {
		padding: 1rem 0;
	}
	.table-header {
		text-align: left;
	}
}

.icons-block {
	margin-top:  $gutter-width;
	/*margin-bottom: $gutter-width*6;*/
	.block-item {
		flex-direction: column;
	}
	.item-icon {
		width: 80px;
		height: 80px;
		margin: 0 auto;
	}
	.item-title {
		width: 100%;
	}
}

// Responsive Videos
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    &.no-controls {
      padding-top: 0;
    }

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}



/*******************
  Utility Classes
*******************/

.hide {
  display: none !important;
}

// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right
}
.center-align {
  text-align: center;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}
.nofloat {
	float: none!important;
}
.center {
	float: none;
	margin-right: auto;
	margin-left: auto;
}

// No Text Select
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.circle {
  border-radius: 50%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0 !important;
}
.no-g-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-h-padding {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.dirty-snow{
	background-color: #fafafa;
	padding: 40px 0;
	.grid-address{
		.text{
			margin-bottom: 50px;
		}
		.title-h2{
			margin: 0;
		}
		.address{
			padding-left:20px;
			color: #e233a6;
			background: url('images/svg-icons/geo.svg') no-repeat;
			background-size: 16px 25px;
		}
		.time{
			padding-left:30px;
			background: url('images/svg-icons/time.svg') no-repeat;
			background-size: 20px;
		}
	}
}